.Action {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px 100px 50px;
}
.Action h2 {
  font-size: 70px;
  font-family: "League Spartan", sans-serif;
  font-weight: bolder;
  background: -webkit-linear-gradient(#525151, #8c1732);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.Action p {
  width: 60%;
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}
.Action button {
  font-size: 15px;
  padding: 12px 24px;
  background-color: #8c1732;
  border: 1px solid #8c1732;
  border-radius: 24px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.btn {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#explore {
  background: transparent;
  color: #8c1732;
}
.Action h3 {
  font-size: 30px;
  margin-bottom: 40px;
}


@media (max-width: 1075px){
  .Action{
    padding: 20px;
  }
}
