.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: fit-content; /* adjust to your design */
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll-loop 40s linear infinite;
}

.carousel-img {
  height: 100%;
  width: 500px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  margin-right: 16px;
  object-fit: cover;
  border-radius: 12px;
}

/* Animation for infinite seamless scroll */
@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
