footer {
  padding: 50px 50px 20px 50px;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 242, 242, 1) 68%
  );
  /* background-color: #d5d4d1; */
}
.m-foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer-logo {
  width: 100px;
}
#sub-foot {
  width: 100%;
  text-align: center;
  border-top: 1px solid #8c173288;
  padding-top: 20px;
  font-weight: bold;
}
footer h2 {
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 15px;
  color: #8c1732;
}
footer ul li {
  margin-bottom: 10px;
}
footer button {
  font-size: 15px;
  padding: 7px 20px;
  background-color: #8c1732;
  border: 1px solid #8c1732;
  border-radius: 24px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
#subscribe{
    margin-top: 10px;
    display: flex;
    gap: 3%;
}
input{
    width: 65%;
    padding: 8px 12px;
    caret-color: #8c1732;
    background-color: #ffffff;
    border-radius: 24px;
    border: 1px solid #8c1732;
}
.success-message {
  color: #28a745;
  font-size: 14px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.success-message.animate-in {
  opacity: 1;
  transform: translateY(0);
}
.socials{
  display: flex;
  gap: 20px;
  margin: 30px 0;
}
.socials a{
  color: #8c1732;
  cursor: pointer;
}

@media (max-width: 1270px) {
  footer{
    padding: 20px;
  }
  .m-foot{
    flex-direction: column;
    margin-bottom: 40px;
  }
}