h1 {
  font-size: 60px;
  font-family: "Quahon", sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.Hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 50px 20px;
}
.Hero::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: url(/photorealistic-wedding-venue-with-intricate-decor-ornaments.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}
#logo {
  width: 300px;
}
.Callbtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Callbtn button {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #8c1732;
  border-radius: 24px;
  color: #8c1732;
  font-weight: bold;
  cursor: pointer;
}
.Hero p {
  line-height: 140%;
}
#book {
  background-color: #8c1732;
  color: #ffffff;
}


@media (max-width: 900px) {
h1 {
  font-size: 30px;
  font-family: "Quahon", sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 110%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#logo {
  width: 210px;
}
}