#mv {
  width: 100%;
  min-height: 60vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}
#mv h2 {
  font-size: 60px;
  margin-bottom: 15px;
  font-family: "League Spartan", sans-serif;
}
#vision {
  position: absolute;
  min-width: 65%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #8c1732;
  clip-path: polygon(0 0, 83% 0, 69% 100%, 0% 100%);
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
#vision p {
  max-width: 550px;
}
#mission {
  background-color: #fafafa;
  color: #000;
  width: 70%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 100px;
  padding: 50px;
}
#mission p {
  max-width: 550px;
}

@media (max-width: 1470px) {
  #mv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  #vision {
    position: relative;
    width: 100%;
    padding: 50px 30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0;
  }
  #mission{
    width: 100%;
    padding: 50px 30px;
    margin: 0;
  }
  #mv h2{
    font-size: 40px;
  }
}
