.track {
  width: 100%;
  height: fit-content;
  padding: 60px 100px;
  text-align: center;
}
.track h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.track h2 span {
  font-size: 40px;
  color: #8c1732;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.stats span {
  font-size: 60px;
  color: #8c1732;
}
.features {
  display: flex;
  width: 100%;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
  flex-wrap: wrap;
}
.featureCard {
  display: flex;
  min-height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  border: 1px solid #8c1732;
  border-radius: 18px;
  padding: 40px 20px;
  text-align: center;
}
.featureCard > div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #8c1732;
  box-shadow: #8c17329e 0 0 40px 13px;
  display: grid;
  place-content: center;
  margin-bottom: 30px;
}
.featureCard > div > img {
  width: 50px;
}
.featureCard h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}
.featureCard p {
  font-weight: 400;
}

@media (max-width: 1075px) {
  .stats {
    flex-wrap: wrap;
    gap: 50px;
  }
  .track h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }.track {
  width: 100%;
  height: fit-content;
  padding: 60px 10px;
  text-align: center;
}.features {
  margin: 10px 0;
}
.featureCard{
  min-width: 330px;
}
}
