@import url("https://fonts.cdnfonts.com/css/quahon");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/lato");
@import url("https://fonts.cdnfonts.com/css/league-spartan");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  /* font-family: "Lato", sans-serif; */
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  /* font-family: "Quahon", sans-serif; */
}
html{
  scroll-behavior: smooth;
}
body {
  position: relative;
}
#demarcator{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#demarcator img{
  width: 100%;
  object-fit: contain;
  transform: scale(0.3);
  opacity: 0.4;
}